<div class="header-question">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 card-session text-center">

        <span id="countdown" data-starting-at="<%= @question.next_start_at(@player).to_i %>"
                             data-next-page-path="<%= @player.next_page_path(@question) %>">
        </span>

       <% if @answer.correct %>
         <h1>Bravo! Bon réponse!</h1>
       <% else %>
         <h1>Dommage, mauvaise réponse...</h1>
       <% end %>
       <h2>Prochaine question dans</h2>

      </div>
    </div>
  </div>
</div>

