<%= render 'shared/banner' %>
<div class="header-session">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 card-session text-center">
        <p>Votre jeu commence dans :
          <span id="countdown" data-starting-at="<%= @session.starting_at.to_i %>">
            20s
          </span>
        </p>
      </div>
      <div class="col-xs-6 card-session text-center">
        <p> Il y a</p>
        <span id="countdown">10</span>
        <p>joueurs</p>
      </div>
    </div>

    <div class="row text-center">
        <%= image_tag "logo-cinema.png" %>
      <div class="col-xs-12 card-session">
        <p class="text-center">TEXTE ICI</p>
      </div>
    </div>
    <div class="row text-center">
      <%= render 'table', session: @session, seance: @seance %>
    </div>
  </div>
</div>
