<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <%= image_tag(attachments['logo.png'].url, size: 50) %>
    </td>
  </tr>
</table>
<br>
<br>
<div style="font-family: helvetica;">
  Bravo <b><%= @player.name %></b>,
  <br>
  <br>
  Tu as gagné la session de jeu organisée par beNext.
  <br>
  <br>
  Clique sur le lien suivant, pour revoir ton super classement : <%= link_to "Voir le classement", root_url %>
  <br>
  <br>
  Présente toi auprès de Thomas Lanzoni avec le mot de passe "ON T'EMBAUCHE !!!!!" pour recevoir ta magnifique récompense.
  <br>
  <br>
  <br>

  L'équipe de <b>beNext
</div>
