<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <%= image_tag(attachments['logo.png'].url, size: 50) %>
    </td>
  </tr>
</table>
<br>
<br>
<div style="font-family: helvetica;">
  Bonjour <b><%= @player.name %></b>
  <br>
  <br>
  Merci d'avoir participé à notre super quizz Reputation Squad.
  <br>
  Clique sur le lien suivant si tu souhaites en savoir plus sur beNext.
  <%= link_to "LE WAGON", "http://www.benextcompany.com/" %>
  <br>
  <br>

  L'équipe de <b>Reputation Squad.
</div>
