.view {
  min-height: 100vh;
}

.no-padding {
  padding: 0;
}

.game-session-detail {
  padding-top: 1cm;
  border: 1px blue;
}


// bootstrap nav overide

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  font-size: 22px;
    text-align:center;
}

.well {
  background:#fff;
  border: solid 1px #eee;
}
