<table>
  <tr>
    <td>Cinema:</td>
    <td><%= seance.cinema.name %></td>
  <tr>
  <tr>
    <td>Film:</td>
    <td><%= seance.movie %></td>
  <tr>
    <td>Seance:</td>
    <td><%=  seance.start_at %></td>
  </tr>
</table>
