<table class="table">
  <tr>
    <th>Cinéma</th>
    <td><%= seance.cinema.name %></td>
  <tr>
  <tr>
    <th>Film</th>
    <td><%= seance.movie %></td>
  <tr>
    <th>Séance</th>
    <td><%= l(seance.start_at, format: :long) %></td>
  </tr>
</table>
