<% if (DateTime.now < @game_session.starting_at + @game_session.duration) %>
  <%= render 'landing', game_session: @game_session, seance: @seance %>
<% else %>
  <div id="ranking-container">
    <%= render 'results', game_session: @game_session, players_ordered: @players_ordered, winners: @winners %>
  </div>
<% end %>

