<h1>Welcome aboard!</h1>
<h2>You are here:</h2>
<div>
<%= render 'table', session: @game_session, seance: @seance %>
</div>
<p>Your game will start in:
  <span id="countdown" data-starting-at="<%= @game_session.starting_at.to_i %>">
    1min30s
  </span>
</p>

<p id="players_present" data-players-count-url="<%= players_count_game_session_path(@game_session) %>">
  <%= render "players_present", players_count: @players_count %>
</p>
