
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url( <%= image_path "banner1.jpg" %>) center;">
  <div class="banner-content">

    <p>Interagissez avec votre audience</p>

    <a class="btn btn-primary btn-lg">Demandez une démo</a>


  </div>
</div>

