<%= render 'shared/banner'%>

<div class="container">
  <div class="text-center padded">
    <div class="row">
      <div class="col-sm-4 padded1">
        <h1>🎮</h1>
    <p>Transformez le smartphone de votre audience en une incroyable manette de jeu. 7thAD crée une expérience inédite autour de vos couleurs et de votre positionnement. L'autonomisation des utilisateurs rend l'expérience unique et mémorable</p>
      </div>
      <div class="col-sm-4 padded1">
        <h1>🍿</h1>
        <p>Envoyez des récompenses, des offres à vos participants et vos vainqueurs. Transformez cette expérience en un véritable lien avec votre cible. Cette dernière à aussi la possibilité de partager ses scores et de les comparer avec ses amis sur les réseaux sociaux.</p>
      </div>
      <div class="col-sm-4 padded1">
        <h1>🎩</h1>
        <p>Gagner la récompense augmente la valeur perçue de votre marque et mène à un taux de conversion et d'activation plus élevé. En effet le taux d'activation moyen via 7thAD est de 40% quand la moyenne générale est de 3% </p>
      </div>
    </div>
  </div>

</div>

 <section class="wrapper-dark padded">
  <div class="container">
    <div class="text-center">
      <h2 class="text-white"> Une technologie de pointe pour dynamiser vos ventes !</h2>
      <br>
      <br>
      <p class="col-sm-offset-2 col-sm-3 lighter"> "Grâce à 7thAD, notre groupe a changé d'horizon. En effet la direction marketing a decidé de revenir au coeur de notre métier, le lien avec notre clientèle. En effet chez Apple nous mettons un point d'honneur à répondre avec la plus grande exigeance aux besoins de nos clients. Avec 7thAD nous redécouvrons avec légereté ce lien unique." <br> <br>Tim COOK, CEO Apple. </p>

      <p class="col-sm-offset-2 col-sm-3 lighter"> "Cette technologie nous a permis de mieux communiquer avec notre clientèle. Finalement nous jouons avec elle, et nous prenons plaisir à toujours repousser l'interraction possible via cette technologie. L'équipe de 7thAD est, en effet, très disponible et toujours dans une démarche créative mais surtout à l'écoute de nos besoins." <br> <br>Boris PAILLARD, CEO Le Wagon </p>

    </div>
  </div>
</section>
