

<div class="banner-gs" style="background: url( <%= image_path "fond.png" %>) center; height: 100vh;">


  <div class="container" style="padding-top: 120px";>
    <div class="row">
         <p class="information" style="font-family: StarJedi; color: black";>Pour avoir une chance de gagner, finalisez votre inscription.</p>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" style="color: black;>
      <%= render "form", player: @player %>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
      <img src= <%= image_path "facebook-connect.png" %> style="height:30px; width: 150px; margin-top: 10px;">
   </div>

</div>

