

<div class="banner-gs" style="background: url( <%= image_path "fond.png" %>) center; height: 100vh;">


  <div class="container" style="padding-top: 120px";>
    <div class="row">
         <p class="information" style="font-family: StarJedi; color: black";>Pour avoir une chance de gagner, finalisez votre inscription.</p>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
      <%= render "form", player: @player %>
    </div>

    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" style="margin-top: 5px;
    height: 25px; width: 135px;">
      <%= image_tag("facebook-connect.png") %>
    </div>

    </div>

  </div>
</div>
