
<div class="banner-gs">
  <div class="banner-logo"><%= image_tag("moving-wagon.png", class:"wagon") %></div>

  <div class="container">
    <div class="row">
      <p class="information">Désolé, le jeu est clôturé, vous ne pouvez plus vous inscrire.</p>
    </div>
  </div>
</div>
