
.banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-home-img {
  width: 100%;
  height: 500px;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.banner-home-img-1 {
  background-image: url(https://picsum.photos/1600/700/?image=1);
}


.banner-home-img-2 {
  background-image: url(https://picsum.photos/1600/700/?image=2);
}

.banner-home-img-3 {
  background-image: url(https://picsum.photos/1600/700/?image=3);
}

.wrapper-dark {
  margin: 40px 0;
  background: #3C4246;
  color: #fff;
}

.padded {
  padding: 100px 0;
}
