.card-session{
  padding: 10px;
}

.card-session p{
  font-size: 15px;
}

.card-session span{
font-size: 50px;
color: $my-red;
}

.card-session-details {
  padding-top: 70px;
}

.card-session-tabs {
  margin-top: 70px;
}

